<div class="mb-5 pt-3">
        <a href="/dashboard/create/"><button id="create-submission" class="button is-primary is-pulled-right">create submission</button></a>
        
        <h2 class="title pb-4">dashboard: your submissions</h2><hr>
{{#if Submissions.length}}
    </div>

    {{#each Submissions as |submission|}}
        {{> submission-list submission}}
        
            <a href="/dashboard/edit/{{id}}"><button class="button mb-5 ml-5 is-warning">edit submission</button></a>
        </div>
    {{/each}}

{{else}}
<h6 class="pb-4 has-text-centered is-italic">you do not currently have any submissions</h6>

{{/if}}