{{#each submissions as |submission|}}

{{> submission-info submission }}
</div>

{{else}}
<h6 class="pb-4 has-text-centered is-italic">Australia is home to over 100 species of animals that can and probably want to kill you. Here at ToDieInAustralia, we want to hear which animal you’re most afraid of sending you to your maker next time you find yourself in the land down under. Sign up to share your Ozzie fears</h6>
{{/each}}