<!-- displaying articles -->
{{> submission-info}}

<!-- displaying form and comments-->
<!-- only display if logged in -->
{{#if logged_in}}
<form class="comment-form">
  <div>
    <textarea class="ml-5" name="comment-body"></textarea>
  </div>

  <div>
    <button class="button is-warning ml-5 mb-5" type="submit">add comment</button>
  </div>
  
</form>
{{/if}}

{{> comments comments}}

{{#if logged_in}}
<script src="/javascript/comment.js"></script>
{{/if}}